import React, { useEffect } from 'react';
import PropTypes from 'prop-types';

const {{pascalCase entity}} = (props) => {

    const {
    {{#each attributes}}
        {{@key}},
    {{/each}}
    } = props;

    // Equal componentDidMount()
    useEffect(() => {
        return () => {
            // Equal componentWillUnmount()
        }
    }, [])

    return (
        <table border="1">
            <th>
            {{#each attributes}}
                <td>{{@key}}</td>
            {{/each}}
            </th>
            <tbody>
            {{#each attributes}}
                <td>{{jsx-bracket @key}}</td>
            {{/each}}
            </tbody>
        </table>
    )
}

{{pascalCase entity}}.propTypes = {
{{#each attributes}}
    {{@key}}: PropTypes.{{this}},
{{/each}}
};

export default {{pascalCase entity}};
